<link rel="stylesheet" href="/css/home.css" />

<div id="father-header">
  <div id="title">
    <h1>Araplantas</h1>
  </div>

  <div id="header">
    <div>
      <form id="search">
        <img src="images/icons/search.png" />
        <input type="text" placeholder="Pesquisar" />
      </form>
    </div>
  </div>
</div>