{{>_navbar}}

<link rel="stylesheet" href="/css/home.css" />

<div id="container">
  <div id="list">
    <div id="plantas">
      {{#each plantas}}
        <div class="planta">
          <div class="planta-img">
            <img src="{{imageUrl}}" />
          </div>
          <div id="planta-info">
            <h2>{{name}}</h2>
            <p>De: <s>{{price}}</s></p>
            <p><b>Por: {{{price}}}</b></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<footer>
    <div id="img1"><a href="/">⠀⠀⠀⠀</a></div>
    <div id="img2"><a href="/carrinho">⠀⠀⠀⠀</a></div>
    <div id="img3"><a href="/perfil">⠀⠀⠀⠀</a></div>
  </footer>
