<link rel="stylesheet" href="/css/info.css" />

<div id="container">

  <h1>Minhas informações</h1>

  <div class="inputs">
    <label>Nome completo</label>
    <input disabled type="text" placeholder="Julia Viera" />
    <label>Celular</label>
    <input disabled type="text" placeholder="9 9123-4567" />
    <label>E-mail</label>
    <input disabled type="text" placeholder="julia.vi@email.com" />
  </div>

  <h1>Endereço</h1>

  <div class="inputs">
    <label>CEP</label>
    <input disabled type="text" placeholder="57123456" />
    <label>Rua</label>
    <input disabled type="text" placeholder="Rua das Flores" />
    <label>Bairro</label>
    <input disabled type="text" placeholder="Lorem ipsum" />
    <label>Número da casa</label>
    <input disabled type="text" placeholder="123" />
  </div>

  <footer>
    <div id="img1"><a href="/">⠀⠀⠀⠀</a></div>
    <div id="img2"><a href="/carrinho">⠀⠀⠀⠀</a></div>
    <div id="img3"><a href="/perfil">⠀⠀⠀⠀</a></div>
  </footer>

</div>