<link rel="stylesheet" href="css/index.css" />

<div class="container">
  <div>
    <h1>Login</h1>
  </div>

  <div class="form">
    <form>
      <input required class="input" type="text" placeholder="E-mail" />
      <input required class="input" type="password" placeholder="Senha" />
      <input required id="register-button" type="submit" value="Login" />
    </form>
    <form>
      <input
        id="login-button"
        type="button"
        value="Ainda não tem um conta? Cadastre-se"
      />
    </form>
  </div>
</div>