<link rel="stylesheet" href="css/myDemands.css" />

<div class="container">
  <div id="container-p">
    <a href=""><i></i></a>
    <h3 class="text-center">Meus Pedidos</h3>
    <div class="flex-on">
      <i></i>
      <input type="text" name="pedido" id="searchDemand" />
    </div>
    <div>
      <div>
        <div class="cross">
          <p>07 de Janeiro</p>
          <p>R$420.50</p>
        </div>
        <div class="cross">
          <p class="text-gray">Aguardando confirmação de <br /> pagamento</p>
          <p class="text-gray">#23124</p>
        </div>

      </div>
      <div class="flex-on imagens">
        <img
          src="https://cdn.pixabay.com/photo/2018/08/02/21/05/bougainville-3580457_960_720.jpg"
          alt="img1"
        />
        <img
          src="https://cdn.pixabay.com/photo/2021/03/31/05/08/desert-roses-6138530_960_720.jpg"
          alt="img2"
        />
      </div>
    </div>

  </div>
</div>