<link rel="stylesheet" href="css/index.css" />

<div class="container">
  <div>
    <h1>Cadastrar</h1>
  </div>

  <div class="form">
    <form action="/login">
      <input required class="input" type="text" placeholder="Nome" />
      <input required class="input" type="text" placeholder="E-mail" />
      <input required class="input" type="password" placeholder="Senha" />
      <input
        required
        class="input"
        type="password"
        placeholder="Confirmar Senha"
      />
      <input id="register-button" type="submit" value="Cadastrar" />
    </form>
    <form action="/login">
      <button id="login-button">Já tem uma conta? Login</button>
    </form>
  </div>
</div>