body {
  background-color: beige;
  margin: 0;
}

.container {
  margin: 0 auto 0 auto;
  background-color: white;
  width: 90%;
  border-radius: 15px;
  box-shadow: 4px black;
}

#container-p {
  padding: 1%;
}

.text-center {
  text-align: center;
}

.flex-on {
  display: flex;
}

.cross {
  display: flex;
  justify-content: space-between;
}

.text-gray {
  color: gray;
}

.imagens {
  justify-content: left;
}

.imagens img {
  height: 8rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 1%;
}

.m-right {
  margin-right: 0.3%;
}
